<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YourProjectName.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YourProjectName.My.MySettings>
            <setting name="data_source_bd" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="initial_catalog_bd" serializeAs="String">
                <value>MyDatabase</value>
            </setting>
            <setting name="integrated_security_bd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="persist_security_info_bd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trust_server_certificate_bd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timeout_bd" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="user_bd" serializeAs="String">
                <value>db_user</value>
            </setting>
            <setting name="password_bd" serializeAs="String">
                <value>db_password</value>
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
        </YourProjectName.My.MySettings>
    </userSettings>
</configuration> 